
<div class="modal-dialog modal-lg-4">
	<div class="modal-content">

		<form action=" {% url 'borrar_categoria' object.pk %}" method="post">

             <div class="modal-body">
				{% csrf_token %}
				<div class="mdl-dialog__content" allign ="center">
					<h4> ¿Realmente desea Borrar esta Categoria? </h4>
				
				
					<br><br>
					<h6><B>Categoria:</B> {{object.nombreCat}} </h6>
			
				</div>
			</div>
					<div class="modal-footer">
			                                <div class="col-lg-8 text-right"> 

					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color:#f6685e;color:white" type="submit">Eliminar</button>

					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color:green;color:white" data-dismiss="modal">Cancelar </button>
				</div>
			</div>
		</form>
	</div>
</div>