{% extends 'administrador/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Registrar Categorias</title>{% endblock title%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                {% comment %} <div class="card-header"><h3 class="text-center font-weight-light my-4">Nueva Categoria</h3></div> {% endcomment %}
                <h3 class="text-center font-weight-light my-4" id="titulo">
                    <img src="/../../static/Iconos/agregar_categoria.png" width="120" height="auto"/>
                    Nueva Categoría
                </h3>
                <div class="card-body">
                    <form method="post" role="form" action="">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{form.nombreCat|as_crispy_field}}
                        </div>

                        <div class="mt-4 mb-0">
                            <div align="center">
                                <input type="submit"  value="Finalizar" class="btn btn-primary btn-block">&nbsp;&nbsp;
                                <a class="btn btn-danger" href="{% url 'listar_categorias' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var campo = $('#id_nombreCat').val();
    let newTitle = '<img src="/../../static/Iconos/editar_categoria.png" width="120" height="auto"/> Editar Categoría';
    window.onload = UpdateTitle();

    function UpdateTitle(){
        if(campo != "")
            $("#titulo").html(newTitle);
    }

</script>
    
{% endblock content %}