{% extends 'administrador/base.html' %}
{% load static %}

{% block title %}<title>Listado de Categorias</title>{% endblock title%}

{% block content %}
<table >
    <tr >
        <td style="vertical-align: super;" width="600" >
            <div class="container-fluid px-4">
                <h1 class="mt-4"></h1>
            </div>

            <!-- Seccion Tablas-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>Listado de Categorias
                </div>&nbsp;

                <div class="d-flex justify-content start" style="vertical-align: middle;">&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="{% url 'crear_categoria' %}" ><i class="fa fa-plus" aria-hidden="true"></i> Nueva Categoria</a>&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/../../static/Iconos/categoria.png" width="50" height="auto"/>
                </div>


                <div class="card-body">
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                
                                <th>Nombre</th>
                                <th>Gestionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in categorias %}
                            <tr>
                                
                                <td>{{ c.nombreCat }}</td>
                        
                                <td align="center"> 
                                    <a title="Editar {{c.nombreCat}}" href="{% url 'modificar_categoria' c.id %}"><i class="fa fa-pencil fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(238, 204, 9);text-shadow:2px 2px 4px #000000;"></i></a>&nbsp;&nbsp;
                                    <a title="Eliminar {{c.nombreCat}}" href="#" onclick="eliminarCategoria({{ c.id }})"><i class="fa fa-trash fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(212, 10, 10);text-shadow:2px 2px 4px #000000;"></i></a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </td>
        <td width="25"> 

        </td>
        <td width="900"> 
            <div class="container-fluid px-4">
                <h1 class="mt-4"></h1>
            </div>
            <!-- Seccion Tablas-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>Listado de Subcategorias
                </div>&nbsp;

                <div class="d-flex justify-content start">&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="{% url 'crear_subcategoria' %}" ><i class="fa fa-plus" aria-hidden="true"></i> Nueva Subcategoria</a>&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/../../static/Iconos/subcategoria.png" width="50" height="auto"/>
                </div>

                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Gestionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in subcategorias %}
                            <tr>
                                
                                <td>{{ c.nombreSub }}</td>
                                <td>{{ c.categoria }}</td>
                        
                                <td align="center"> 
                                    <a title="Editar {{c.nombreSub}}" href="{% url 'modificar_subcategoria' c.id %}"><i class="fa fa-pencil fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(238, 204, 9);text-shadow:2px 2px 4px #000000;"></i></a>&nbsp;&nbsp;
                                    <a title="Eliminar {{c.nombreSub}}" href="#" onclick="eliminarSubcategoria({{ c.id }})"><i class="fa fa-trash fa-2x" aria-hidden="true" style="font-size:24px;color:rgb(212, 10, 10);text-shadow:2px 2px 4px #000000;"></i></a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>

<dialog id="popup" class="modal-fade" style="border-radius: 0.8rem; border-color:#da79af;">
    <span align="right" class="btn-close" id="btn-cerrar"> </span>
    <div id="mod" width="200" ></div>
</dialog>

{% endblock content%}

{% block js %}
    <script>
        function eliminarCategoria(id){
            Swal.fire({
                imageUrl: '/../../../static/Iconos/eliminar_categoria.png',
                imageWidth: 150,
                imageHeight: 150,
                title: '¿Eliminar Categoría?',
                showCancelButton: true,
                confirmButtonText: 'Si, Eliminar',
                confirmButtonColor: '#FF0000',
                cancelButtonText: 'No, Cancelar',
                reverseButtons: true,

            }).then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/administrador/borrarCategoria/"+id
                }
            })
        }

        function eliminarSubcategoria(id){
            Swal.fire({
                imageUrl: '/../../../static/Iconos/eliminar_subcategoria.png',
                imageWidth: 150,
                imageHeight: 150,
                title: '¿Eliminar Subcategoría?',
                showCancelButton: true,
                confirmButtonText: 'Si, Eliminar',
                confirmButtonColor: '#FF0000',
                cancelButtonText: 'No, Cancelar',
                reverseButtons: true,

            }).then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/administrador/borrarSubcategoria/"+id
                }
            })
        }

    </script>
{% endblock js%}