{% extends 'administrador/base.html' %}
{% load static %}

{% block title %}<title>Listado de Productos</title>{% endblock title%}

{% block content %}

            <div class="container-fluid px-4">
                <h1 class="mt-4"></h1>
            </div>
            <!-- Seccion Tablas-->
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>Listado de Productos
                </div>&nbsp;

                <div class="d-flex justify-content start">&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-primary" href="{% url 'crear_producto' %}" ><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Producto</a>&nbsp;

                </div>


                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Imágen Principal</th>
                                <th>Precio</th>
                                <th>Categoria</th>
                                <th>Subcategoria</th>
                                <th>Gestionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in productos %}
                            <tr>
                                
                                <td style="vertical-align: super;" width="400">{{ p.nombreProd }} </td>
                                <td align="center" width="auto"><a title="Click para ver Detalles" onclick="return abrir_modal({{ p.id }})"> <img id="{{p.id}}" src=" {{ p.imagen.url }}" onmouseover="return resaltar({{ p.id }})" onmouseout="return normal({{ p.id }})" style="border-radius:0.7rem;" width="80" height="auto"/> </a></td>
                                <td style="vertical-align: super;"> $ {{ p.precio }}</td>
                                <td style="vertical-align: super;">{{ p.categoria }}</td>
                                <td style="vertical-align: super;">{{ p.subCategoria }}</td>
                        
                                <td style="vertical-align: super;"> 
                                    <a class="btn btn-primary" href="{% url 'agregar_imagenes' p.id %}" style="size:15px"><i class="fa fa-plus" aria-hidden="true"></i> Imagenes</a>
                                    &nbsp;
                                    <a class="btn btn-warning" href="{% url 'modificar_producto' p.id %}"><i class="fa fa-pencil fa-2x" aria-hidden="true" style="font-size:22px;color:rgb(255, 255, 255);text-shadow:2px 2px 4px #000000;"></i></a>&nbsp;&nbsp;
                                    {% comment %} <a class="btn btn-success" onclick="return abrir_modal({{ p.id }})"><i class="fa fa-eye fa-2x" aria-hidden="true" style="font-size:22px;color:rgb(255, 255, 255);text-shadow:2px 2px 4px #000000;"></i></a>&nbsp;&nbsp; {% endcomment %}
                                    <a class="btn btn-danger" href="#" onclick="eliminarProducto({{ p.id }})"><i class="fa fa-trash fa-2x" aria-hidden="true" style="font-size:22px;color:rgb(255, 255, 255);text-shadow:2px 2px 4px #000000;"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Fin Seccion tablas-->

        <dialog id="popup" class="modal-fade" style="border-radius: 0.8rem; border-color:#da79af;">
                {% comment %} <span align="right" class="btn-close" id="btn-cerrar"> </span> {% endcomment %}
                <div id="mod" width="200" ></div>
        </dialog>

{% endblock content%}

{% block js %}
    <script>
    // FUNCION para Sweetalert del borrado====================================================================
        function eliminarProducto(id){
            Swal.fire({
                imageUrl: '/../../../static/Iconos/eliminar_objeto.png',
                imageWidth: 150,
                imageHeight: 150,
                title: 'Eliminar Producto',
                showCancelButton: true,
                confirmButtonText: 'Si, Eliminar',
                confirmButtonColor: '#FF0000',
                cancelButtonText: 'No, Cancelar',
                reverseButtons: true,

            }).then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "/administrador/borrarProducto/"+id
                }
            })
        }

    // FUNCION para modal de detalles de producto ==============================================================
        let btnClose = document.getElementById("btn-cerrar");
        let modal = document.getElementById("popup");
        let prod = document.getElementById("prodId");

        function abrir_modal(id){
            $("#mod").html("");
            var request = $.ajax({
                type: "GET",
                url: "{% url 'detalle_producto' %}",
                data: {
                    "id":id
                },
            });
            request.done(function(response){
                $("#mod").html(response);
                modal.showModal();
            });
        }

        function cerrar_modal(){
            modal.close();
        }

    // FUNCIONES para resaltar la imagen seleccionada==========================================================================
        function resaltar(id){
            let element = document.getElementById(id.toString());
            element.width = "100";
            element.style.cssText = "padding:5px; height:auto; border-radius: 0.7rem; background-color:#da79af;";
        }

        function normal(id){
            let element = document.getElementById(id.toString());
            element.width = "80";
            element.style.cssText = "padding:0px; height:auto; border-radius: 0.7rem;";
        }
    //==========================================================================================================================
    
    </script>
{% endblock js%}